Update below form for editing a User's company. (Not owner, etc.) :) 


<!--<h1>Update Company Interests</h1>-->
 
<!--  <form action="/company_interests/<%=@company.id%>" method="POST">-->
<!--    <input id="hidden" type="hidden" name="_method" value="patch">-->
<!--    <label>Edit the company' Name:</label>-->
<!--    <br>-->
<!--    <input type="text" name="company_interest[name]" id= "company_interest_name" value="<%= @company.name %>">-->
 
<!--    <br>-->
<!--    <p>Select an existing owner or create a new one below.</p>-->
 
<!--    <h3>Existing Companies</h3>-->
<!--    <% @owners.each do |owner| %>-->
<!--      <input type="radio" name="pet[owner_id]" id="<%= owner.id %>" value="<%= owner.id %>" <%='checked' if @pet.owner == owner %>><%= owner.name %></input><br>-->
<!--    <% end %>-->
<!--    <br>-->
 
<!--    <h3>New Owner</h3>-->
<!--    <label>Owner Name: </label>-->
<!--    <br>-->
<!--    <input type="text" name="owner[name]" id="owner_name"></input>-->
<!--    <br><br>-->
 
<!--    <input type="submit" value="Update Pet">-->
<!--  </form>-->
